<ion-header>
  <ion-navbar>
    <ion-title>
      Detail
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="value">
  <ion-card id="Detail-card21">
    <img *ngIf="gambar" src="{{gambar+value.gambar }}">
  </ion-card>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h6><b> {{ value.nama_barang }}</b></h6>
        </ion-col>
        <ion-item>
          Harga :
          <ion-note item-end  color="dark">
             Rp {{ value.harga }},-
          </ion-note>
        </ion-item>
        <ion-item>
          Stok :
          <ion-note item-end color="dark">
             {{ value.stok }} {{ value.satuan }}
          </ion-note>
        </ion-item>
        <ion-item>
          Berat :
          <ion-note item-end color="dark">
            {{ value.berat }} gram
          </ion-note>
        </ion-item>
        <ion-item>
          Kategori :
          <ion-note item-end color="dark">
            {{ value.kategori }}
          </ion-note>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list>
    <ion-item >
      <ion-label color="dark">Jumlah</ion-label>
      <ion-select interface="popover" [(ngModel)]="jumlah" color="dark">
        <ion-option *ngFor="let jml of getStok(value.stok); let idx = index" value="{{jml}}" selected="{{(idx==0).toString()}}"
          required>{{jml}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button (click)="tambahKeTroli()" [disabled]="jumlah == 0" ion-button block icon-left>
    <ion-icon name="cart"></ion-icon>
    Tambah ke Troli
  </button>
</ion-content>
